<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxq.mapper.UserMapper">
    <resultMap id="userMap" type="com.fxq.entity.dto.user.UserPageQueryResp">
        <result column="uId" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="about" property="about"/>
        <collection property="cars" ofType="com.fxq.entity.dto.car.CarResp">
            <result column="cId" property="id"/>
            <result column="brand" property="brand"/>
            <result column="price" property="price"/>
            <result column="detail" property="detail"/>
        </collection>
    </resultMap>
    <select id="queryPage" resultMap="userMap">
        SELECT
            u.id as uId,
            u.NAME,
            u.age,
            u.gender,
            u.address,
            u.about,
            c.id as cId,
            c.brand,
            c.price,
            c.detail
        FROM
	    USER u
	    LEFT JOIN car c ON u.id = c.user_id
    </select>
</mapper>